.recuadro{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 130px;
    background-color: rgb(197, 253, 255);
    width: 500px;
    height: auto;
    border-radius: 7px;
    border: solid 3px black;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.537);
    padding: 25px 0 25px 0;
    text-align: center;
    display: none;
}
    #close{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: 466px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.537);
        transition: transform 0.2s;
    }
    #close:hover{
        transform: scale(105%);
    }
    #tituloEdt{
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 1px rgb(255, 254, 254), -1px -1px 1px rgb(255, 255, 255);
        margin: 0 0 15px 0;
    }
    .label{
        font-size: 17px;
        font-weight: bold;
    }
    .field{
        background: linear-gradient(0deg, rgba(198,251,255,1) 22%, rgba(67,241,255,1) 100%);
        border: solid 2px black;
        border-radius: 5px;
        margin: 0 0 10px 0;
        padding-left: 3px;
        height: 22px;
        width:250px;
        color: black !important;
        text-shadow: none !important;
        font-family: 'Inclusive Sans', sans-serif;
        font-style: italic;
    }
    .selector{
        margin: auto;
        font-family: 'Inclusive Sans', sans-serif;
        font-style: italic;
        display: flex;
        width: auto;
        justify-content: center;
    }
    .selection{
        width: auto;
        margin: 0 8px 8px 8px
    }
    .radio{
        margin: 3px 0 0 5px;
    }
    button{
        margin: 5px 0 0 0;
        padding: 3px 5px 2px 5px;
        font-style: italic;
        background: rgba(67,241,255,1);
        border: solid 2px black;
        border-radius: 4px;
        font-weight: bold;
    }
    button:hover{
        background: rgb(59, 193, 255);
    }
    #idEdt{
        display: none;
    }