#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.permiso{
    color: white;
    margin-left: 10px;
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4B4949;
    padding: 10px;
}

.botonesPermisos{
    display: flex;
}


form {
    margin: 10px 0;
    text-align: center;
}

label {
    display: flex;
    font-weight: bold;
}

input[type="text"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #4B4949;
    border-radius: 5px;
}

.tarjeta {
    background-color: #5B84B9;
    border: 5px solid #4B4949;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    color: rgb(83, 83, 83);
}

.subtarjeta {
    border: 2px solid #4B4949;
    padding: 5px;
    margin-top: 5px;
    background-color: #D0D6DD;
    color: rgb(83, 83, 83);
}


button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #4B4949;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

#CapaResultadoBusqueda {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}


.permisos{
    display: flex;
    width: 20%;
}

#b_permisoMenu{
    height: 10%;
}

/* ---------------------------------------------------------------- */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------------------------------------------- */

.selector{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}