#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    margin: 10px 0;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tarjeta {
    background-color: #4081b9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.subtarjeta {
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 5px;
    background-color: #f9f9f9;
}


button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#CapaResultadoBusqueda {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
