#container{
    display: flex;
    flex-direction: column;
}


form {
    margin: 10px 0;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#CapaResultadoBusqueda {
    text-align: center;
    margin: 20px;
    padding: 10px;
    /* border: 1px solid #ccc;
    background-color: #f4f4f4; */
    border-radius: 5px;
}
